@import "vars";
@import "resets";
@import "general";

// 2D Cube

.container{
    max-width: 1000px;
    margin: 180px auto;
    // border: 6px solid black;
    padding: 32px;
}

.cube-2D{
    position: relative;
    &:hover{        
        animation: twodAnimation 5s linear infinite;
    }
}
.side{
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: $box-general;
    color: $secondary;
    border: 1px solid black;
}
.top {
    background: $box-general;
    transform: rotate(-45deg) skew(15deg, 15deg);
}
.left {
    background: $box-general;
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%,100%);
}
.right {
    background: $box-general;
    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%,100%);
}
@keyframes twodAnimation {
    0%{
        transform-origin: 0 0;
        transform: rotateY(0deg);
    }
    100%{
        transform-origin: 0 0;
        transform: rotateY(360deg)
    }
}


// 3D Cube

.cube-container{
    margin: 180px auto;
    position: absolute;
    top: 10%;
    left: 60%;
    perspective: 1500px;
}
.cube-3D{
    position: relative;
    transform-style: preserve-3d;
    &:hover{
        animation: threedAnimation 5s linear infinite;
    }
}
@keyframes threedAnimation {
    0%{
        transform: rotate3d(0,0,0,0);
    }
    100%{
        transform: rotate3d(0,1,0,360deg);
    }
}

.cube-side {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(45, 179, 74, .3);
    border: 2px solid #2db34a;
    
    
}
.front-side {
    transform: translateZ(100px);
}
.back-side {
    transform: rotateX(180deg) translateZ(100px);
}
.left-side {
    transform: rotateY(-90deg) translateZ(100px);
}
.right-side {
    transform: rotateY(90deg) translateZ(100px);
}
.top-side {
    transform: rotateX(90deg) translateZ(100px);
}
.bottom-side {
    transform: rotateX(-90deg) translateZ(100px);
}
  
